# Personal / Resume
resume_points.txt

# Credentials / Secrets
credentials.txt
.env

# Notes / Extra folders
Folder_Structure/
aws_docker_run_command.txt

# Data & Results
data/
results/
*.csv

# Python
__pycache__/
*.pyc
*.pyo

# OS / Editor
.DS_Store
.vscode/

README.md
strategy_deep_dive.md
resume_edit.md